<!-- node definition -->
<script type="text/javascript">
    RED.nodes.registerType('DPWS Client',{
        
        //node definition
        category: 'dpws',
        defaults: {
            name: {value:""},
            request_type: {value:"invoke", required:true},
            parameters: {value:false},
            action: {value:"", required:true},
            to: {value:"", required:true},
            expires: {value:60}
        },
        inputs:1,
        outputs:1,
        align:'right',
        color: '#1FA03C',
        icon: "ws4dlogo.png",
        label: function() {
            
            var suffix = "";
            
            switch(this.request_type){
                case "invoke":
                    suffix = " ⥂";
                    break;
                case "subscribe":
                    suffix = " ⥅";
                    break;
                default:
                    suffix = " ✘";
                    break;
            }
            if(this.name){
                return this.name+suffix
            }
            else{
                return "DPWS Client"+suffix;
            }
        },
        
        outputLabels: "message received",
        
        oneditprepare: function(){
            
            document.getElementById('request_type').value = this.request_type;
            
            var id = $("#request_type").val();
            if((id=="none")||(id=="invoke")){
                $("#expire").hide();
                $("#parameters").show();
                if(this.parameters)
                    $("#hasparameters").prop('checked', true);
                
            }else{
                $("#parameters").hide();
                $("#hasparameters").prop('checked', false);
                $("#expire").show();
            }
            
            $("#request_type").change(function(){
                var id = $("#request_type").val();
                if((id=="none")||(id=="invoke")){
                    
                    $("#expire").hide();
                    $("#parameters").show();
                }else{
                    $("#parameters").hide();
                    $("#hasparameters").prop('checked', false);
                    $("#expire").show();
                }
            });
        },
        
        oneditsave: function(){
            
            this.request_type = $("#request_type").val();
            this.parameters = $("#hasparameters").prop('checked');
            
        }
        
        /*,
        button: {
            onclick: function(){
                console.log("it works");
            }
        }
        */
        
    });
</script>

<!-- type of node / fields to appear in the configuration tab -->
<script type="text/x-red" data-template-name="DPWS Client">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tags"></i> Name<span data-i18n="DPWSClient.label.name"></span></label>
        <input type="text" id="node-input-name" placeholder="Module name">
    </div>
    
    <div class="form-row">
        <label for="request_type"><i class="icon-tasks"></i> Type</label>
        <select type="text" id="request_type">
            <option value="invoke">Invoke operation</option>
            <option value="subscribe">Subscribe event</option>
        </select>
    </div>
    
    <div class="form-row" id="parameters">
        <label >&nbsp;</label>
        <input type="checkbox" id="hasparameters" style="display: inline-block; width: auto; vertical-align: top;">
        <label for="hasparameters" style="width: 70%; display: inline-block">Has parameters?</label>
    </div>
    
    <div class="form-row" id="expire">
        <label >&nbsp;</label>
        <label for="node-input-expires"><i class="icon-time"></i>Expires<span data-i18n="DPWSClient.label.expires"></span>
        <input type="number" min="0" id="node-input-expires"> sec.</label>
    </div>
    
    <div class="form-row">
        <label for="node-input-action"><i class="icon-tags"></i> Action<span data-i18n="DPWSClient.label.action"></span></label>
        <input type="text" id="node-input-action" placeholder="http://0.0.0.1:8080/serviceID/operationID">
    </div>
    
    <div class="form-row">
        <label for="node-input-to"><i class="icon-tags"></i> To<span data-i18n="DPWSClient.label.to"></span></label>
        <input type="text" id="node-input-to" placeholder="http://0.0.0.1:8080/serviceID">
    </div>
    

</script>

<!-- help text to appear in the info tab-->
<script type="text/x-red" data-help-name="DPWS Client">
    <p>Node that consumes a operation or subscribe an event of a given service from DPWS devices.</p>
    <p>This module must be configured with the <code>Action</code> and the <code>Endpoint</code> values, those informations are extracted from a wsdl that describes the device or service.</p>
    <h3><b>Input</b></h3>
    <dl class="message-properties">
        <p>If the operation take inputs, </p>
        <dt>payload <span class="property-type">string</span></dt>
        <dd>example: <br><textarea readonly rows="3" style="border:none">
<n1:temperature>
    100
</n1:temperature></textarea></dd>
    </dl>
    <h3><b>Output</b></h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">string</span></dt>
        <dd>The body of the message received from the device.</dd>
    </dl>
    
    <h3><b>Details</b></h3>
    <p>When subscribing events you should define an expiration time. 0 seconds means that it never expires.</p>
</script>