<!-- node definition -->
<script type="text/javascript">
    RED.nodes.registerType('DPWS Browse',{
        
        //node definition
        category: 'dpws',
        defaults: {
            name: {value:""},
            version: {value:"1.1", required:true}
        },
        inputs:1,
        outputs:1,
        align:'right',
        color: '#1FA03C',
        icon: "ws4dlogo.png",
        label: function() {
            
            if(this.name){
                return this.name
            }
            else{
                return "DPWS Browse";
            }
        }
        /*,
        button: {
            onclick: function(){
                console.log("it works");
            }
        }
        */
        
    });
</script>

<!-- type of node / fields to appear in the configuration tab -->
<script type="text/x-red" data-template-name="DPWS Browse">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tags"></i> Name<span data-i18n="DPWSBrowse.label.name"></span></label>
        <input type="text" id="node-input-name" placeholder="Module name">
    </div>
    
    <div class="form-row">
        <label for="request_type"><i class="icon-tasks"></i> Type</label>
        <select type="text" id="version">
            <option value="1.1">1.1</option>
            <option value="2006">2006</option>
        </select>
    </div>

</script>

<!-- help text to appear in the info tab-->
<script type="text/x-red" data-help-name="DPWS Browse">
    <p>Node which browse on the local network for dpws devices.</p>
    <p>The only input configuration is the version of dpws protocol to use.</p>
    <p>To browse the network it just need an incoming msg. There is no need of variables or input text</p>
    <h3><b>Output</b></h3>
    <dl class="message-properties">
        <dt>payload <span class="property-type">string</span></dt>
        <dd>An array of the founded devices with the services and the operations thats are provided.</dd>
    </dl>
</script>